<!DOCTYPE html>
<html lang="en" ng-app="itemApp">
<head>
    <title>Items for Echo OpenHab Skill</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

    <script type="text/javascript" src="js/angular/angular.js"></script>
    <script type="text/javascript" src="js/angular/angular-resource.js"></script>
    <script type="text/javascript" src="js/items.js"></script>
	<script type="text/javascript" src="js/bootstrap/ui-bootstrap-tpls-0.14.3.min.js"></script>
</head>
<body >
	<div ng-controller="itemController" class="container">
        <alert ng-repeat="message in messages" type="{{message.type}}" close="closeAlert($index)">
            {{message.msg}}
        </alert>

		<form ng-submit="storeItem()">
			<div class="form-group">
				<label>OpenHab Item Name</label>
				<input type="text" ng-model="item.openHabItem" class="form-control" ng-required="true"/>
			</div>
			<div class="form-group">
				<label>OpenHab Type</label>
				<select ng-model="item.itemType" ng-options="type for type in itemTypes" ng-change="updateInfo(item.itemType)" class="form-control"></select>
			</div>
			<div class="form-group">
				<label>{{info.itemName}}</label>
				<input type="text" ng-model="item.itemName" class="form-control" ng-required="true"/>
			</div>
			<div class="form-group">
				<label>{{info.location}}</label>
				<input type="text" ng-model="item.location" class="form-control" ng-required="true"/>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-default btn-lg" value="Save Item"/>
			</div>
		</form>
		<div>
    		<table class="table table-striped">
    			<thead>
    				<tr>
    					<th>OpenHab Item Name</th>
    					<th>Item Name</th>
    					<th>Item Type</th>
    					<th>Location</th>
    					<th></th>
    				</tr>
    			</thead>
    			<tbody>
	        		<tr ng-repeat="item in itemList">  
	        			<td>{{item.openHabItem}}</td>
	        			<td>{{item.itemName}}</td>
	        			<td>{{item.itemType}}</td>
	        			<td>{{item.location}}</td>
	        			<td><a ng-click="deleteItem(item.id)" class="delete-item">Delete</a></td>
	        		</tr>
        		</tbody>
    		</table>
		</div>
	</div>
</body>
</html>
